/* css reset */
html, body, canvas {
    padding: 0;
    border: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 500px;
    height: 500px;
    border: 2px solid white;
    margin: 40px 0 40px 0;
}

.lives-container {
    display: flex;
    position: absolute;
}

.lives-container > div {
    width: 40px;
    height: 40px;
    margin-right: -20px;
    background-image: url(../assets/ship.svg);
}
