/* css reset */
html, body, canvas, header, div {
    padding: 0;
    border: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    position: relative;
}

.game-stage-container {
    position: relative;
    height: 500px;
    width: 500px;
    border: 2px solid white;
    margin: 40px 0 40px 0;
}

canvas {
    position: absolute;
    width: 500px;
    height: 500px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 500px;
}

.lives-container {
    display: flex;
}

.lives-container > svg {
    width: 40px;
    height: 40px;
    margin-right: -20px;
    stroke: #444;
}

.lives-container > svg.unused > polygon {
    stroke-dasharray: 0;
    stroke: white;
}

.points-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
}

.reset-overlay.game-over {
    display: flex;
}
